
.table-style{
    -fx-tree-table-color: rgba(0, 150, 0, 0.8);
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.table-style:focused .table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color  ;
    -fx-table-cell-border-color: -fx-tree-table-color;
}

.table-style:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.table-style .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.table-style .column-header ,
.table-style .column-header-background,
.table-style .column-header-background .filler{
    -fx-background-color:LIGHTGREEN;
}

.table-style .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-style .column-header .label {
    -fx-text-fill : #949494;
    -fx-alignment: CENTER;
}

.table-style .column-header .arrow, .table-style .column-header .sort-order-dot{
    -fx-background-color : #949494;
}

.table-style .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-style .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.table-style .table-cell{
    /*-fx-border-width:0 0 1 0;*/
    /*-fx-border-color: #949494;*/
    /*-fx-padding : 16 0 16 0;*/
    -fx-alignment: CENTER;
}

.table-style .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.table-style .column-resize-line, .table-style .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.table-style:focused {
    -fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;
    -fx-background-insets: -1.4, 0, 1;
    -fx-background-radius: 1.4, 0, 0;
    /*....*/
    -fx-padding: 1; /* 0.083333em; */
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40,0.8);
}

#Vbox_btns
{
    /*-fx-background-color: linear-gradient(#48f29f, #6677e1);*/
    -fx-background-color: #1e4355;
}

