.body-background
{
    -fx-background-color: white;
    -fx-font-family: "Bookman Old Style";
}

.text-size-1 { -fx-font-size: 12; }
.text-size-2 { -fx-font-size: 15; }
.text-size-3 { -fx-font-size: 18; }
.text-size-4 { -fx-font-size: 22; }
.text-size-5 { -fx-font-size: 28; }

.text-bold-1 { -fx-font-weight: bold; }

.text-italic { -fx-font-style: italic; }

.notification-green
{
    -fx-background-color: #47ab1e;
    -fx-font-family: "Bookman Old Style";
}

.notification-red
{
    -fx-background-color: red;
    -fx-font-family: "Bookman Old Style";
}


.vbox_style
{
    /*-fx-background-color: linear-gradient(#48f29f, #6677e1);*/
    -fx-background-color: #1e4355;
}

.vbox_btns
{
    /*-fx-background-color: #47ab1e;*/
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 14pt;
}

.menu-item .label{
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 14pt;
}

.menu-item:hover {
    -fx-background-color: #152f3b;
}

.menu-item:focused {
    -fx-background-color: transparent;
}

.context-menu {
    -fx-background-color: #1e4355;
    -fx-font-family: "Bookman Old Style";
    -fx-opacity: 0.9;
}

.context-menu1:hover {
    -fx-background-color: #152f3b;
    -fx-font-family: "Bookman Old Style";
}

.context-menu2:hover {
    -fx-background-color: #152f3b;
    -fx-font-family: "Bookman Old Style";
}

.vbox_btns:hover
{
    -fx-background-color: #152f3b;
}

.hbox_style
{
    /*-fx-background-color: linear-gradient(#48f29f, #6677e1);*/
    -fx-background-color: #1e4355;
}

.hbox_btns
{
    /*-fx-background-color: #47ab1e;*/
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-family: "Bookman Old Style";
    -fx-font-size: 12pt;
}
.hbox_btns:hover
{
    -fx-background-color: #152f3b;
}

.btn_default
{
    -fx-background-color: white;
    -fx-border-color: #47ab1e;
    -fx-border-width: 2 2 2 2;
    -fx-text-fill: #47ab1e;
    -fx-border-radius: 2pt;
}

.btn_default:hover
{
    -fx-background-color: rgba(71,171,30, 0.2);
}

.btn_primary
{
    -fx-background-color: #47ab1e;
    -fx-text-fill: white;
    -fx-border-color: #47ab1e;
    -fx-border-width: 2 2 2 2;
    -fx-border-radius: 2pt;
}

.btn_primary:hover
{
    -fx-background-color: rgba(71,171,30, 0.8);
    -fx-border-color: rgba(71,171,30, 0.8);
}

.btn_icon:hover
{
    -fx-cursor: hand;
}


/*---------------------------------- Filter Search Start -------------------------------*/

.filter_pane
{
    /*-fx-background-color: rgba(29,68,84,0.8);*/
    -fx-text-fill: black;
    /*-fx-border-width: 2pt;*/
    -fx-border-width: 10 2 2 2;
    /*-fx-border-color: #47ab1e;*/
    -fx-border-color: #1e4355;
    -fx-border-radius: 5pt;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

.combo-box .combo-box-popup .list-cell:hover {
    -fx-text-fill: white ;
    -fx-background-color: #47ab1e ;
}

.my-tree .tree-cell {
    -fx-background-color: transparent ;
}

/*---------------------------------- Filter Search End -------------------------------*/


 /*---------------------------------- Summary Labels Start -------------------------------*/

.summary_label
{
    /*-fx-background-color: rgba(29,68,84,0.8);*/
    -fx-text-fill: #47ab1e;
    -fx-font-weight: bold;
    -fx-font-size: 16pt;
    /*-fx-border-width: 2pt;*/
    -fx-border-width: 10 2 2 2;
    /*-fx-border-color: #47ab1e;*/
    -fx-border-color: #1e4355;
    -fx-border-radius: 5pt;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

.users_pane
{
    /*-fx-background-color: rgba(29,68,84,0.8);*/
    -fx-text-fill: #47ab1e;
    /*-fx-border-width: 2pt;*/
    -fx-border-width: 10 2 2 2;
    /*-fx-border-color: #47ab1e;*/
    -fx-border-color: #1e4355;
    -fx-border-radius: 5pt;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

.users_pane_online
{
    /*-fx-background-color: rgba(29,68,84,0.8);*/
    -fx-text-fill: #47ab1e;
    /*-fx-border-width: 2pt;*/
    -fx-border-width: 10 2 2 2;
    /*-fx-border-color: #47ab1e;*/
    -fx-border-color: #47ab1e #1e4355 #1e4355 #1e4355;
    -fx-border-radius: 5pt;
    /*-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);*/
}

.summary_label:hover
{
    -fx-background-color: rgba(0,0,0,0.1);
}

 /*---------------------------------- Summary Labels End -------------------------------*/

 /*--------------------------------- Table Styles Start ---------------------------------*/

.table-style{
    /*-fx-tree-table-color: rgba(0, 150, 0, 0.8);*/
    -fx-tree-table-color: #47ab1e;
    -fx-tree-table-rippler-color : rgba(255, 0, 0, 0.9);
}
.table-style:focused .table-row-cell:selected {
    -fx-background-color: -fx-tree-table-color;
    /*-fx-table-cell-border-color: -fx-tree-table-color;*/
}

.table-style .table-row-cell:hover {
    -fx-background-color: rgba(0, 0, 0, 0.1);
}

.table-style:focused .tree-table-row-cell:selected .tree-table-cell{
    -fx-text-fill: white;
}

.table-style .jfx-rippler {
    -fx-rippler-fill: -fx-tree-table-rippler-color;
}

.table-style .column-header ,
.table-style .column-header-background,
.table-style .column-header-background .filler{
    /*-fx-background-color:LIGHTGREEN;*/
    -fx-background-color:rgba(29,68,84,0.6);
}

.table-style .column-header{
    -fx-border-width : 0 1 0 1;
    -fx-border-color: #F3F3F3;
}

.table-style .column-header .label {
    /*-fx-text-fill : #949494;*/
    -fx-text-fill : rgba(255,255,255,0.8);
    -fx-font-size: 12pt;
    -fx-alignment: CENTER;
}

.table-style .column-header .arrow, .table-style .column-header .sort-order-dot{
    -fx-background-color : #949494;
}

.table-style .column-header:last-visible {
    -fx-border-width: 0 2 0 1;
}

.table-style .column-header-background{
    -fx-border-width : 0 0.0 1 0;
    -fx-border-color:#F3F3F3;
}

.table-style .table-cell{
    /*-fx-border-width:0 0 1 0;*/
    /*-fx-border-color: #949494;*/
    /*-fx-padding : 16 0 16 0;*/
    -fx-alignment: CENTER;
}

.table-style .column-overlay{
    -fx-background-color: -fx-tree-table-color;
}

.table-style .column-resize-line, .table-style .column-drag-header{
    -fx-background-color: -fx-tree-table-rippler-color;
}

.table-style:focused {
    -fx-background-color: white;
    /*-fx-background-color: -fx-tree-table-color,-fx-box-border,-fx-control-inner-background;*/
    /*-fx-background-insets: -1.4, 0, 1;*/
    /*-fx-background-radius: 1.4, 0, 0;*/
    /*-fx-padding: 1;*/
}

.tree-table-row-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: -fx-text-fill;
    -fx-padding: 0.333333em 0.229em 0.333333em 0.229em; /* 4 */
    -fx-shape: "M 0 -3.5 L 4 0 L 0 3.5 z";
}
.tree-table-row-cell .jfx-text-field{
    -fx-focus-color: rgba(240,40,40,0.8);
}

 /*--------------------------------- Table Styles Start ---------------------------------*/