.jfx-date-picker > .jfx-text-field {
    -jfx-label-float: true;
}
.button
{
-fx-background-color:#66bb6a ;
-fx-text-fill:black;
}
.button:hover
{
-fx-background-color:#a5d6a7;
-fx-text-fill:black;
}